.search-bar {
    background-color: #ffffff;
    width: calc(100% - 30px);
    max-width: 400px;
    height: 40px;
    flex-direction: row;
    margin-right: 10px;
    overflow: hidden;
    position: fixed;
    display: flex;
    padding: 5px;
    z-index: 10;
    left: 10px;
    top: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 0px #000000bf;
    -moz-box-shadow: 0px 0px 10px 0px #000000bf;
    box-shadow: 0px 0px 10px 0px #000000bf;
}

#search-icon {
    background-image: url('../../icons/magnify.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35px;
    margin: 5px 2px 0 2px;
    width: 40px;
    height: 30px;
}

.search-input-wrapper {
    background-color: #e9e9e9;
    flex-direction: row;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-input {
    background-color: #e9e9e9;
    font-size: 20px;
    width: 100%;
    border: 0;
    margin: 3px;
    padding-left: 6px;
}

#delete-button {
    background-image: url('../../icons/cancel-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e9e9e9;
    background-size: 30px;
    margin: 5px 5px 0 5px;
    cursor: pointer;
    height: 30px;
    width: 32px;
    padding: 0;
    border: 0;
}